################################################################################

&ADMPARAM
    glevel = 4,
    rlevel = 2,
    vlayer = 20,
    debug  = .true.,
/

&COMMPARAM
    debug    = .true.,
    testonly = .true.,
/

################################################################################
